*{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
color: #e76262;
padding: 0;
}

nav,ul{
    padding: 0
}
p{
    padding: 0
}
nav ul li{
    display: inline;
}
content{
font: courier, arial
}
#mob{
height: 30%;
padding-left: 50px;
padding-bottom: 0;
padding-top: 0;
}
.v{
    padding: 0;

}
div .v >h1{
padding-top: 0%;
padding-bottom: 0;}
#container{
    height: 30%;
}
article{
    padding-top: 0%;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 35px;

    display: inline-block;
    box-shadow:
    0 2.8px 2px rgba(0, 0, 0, 0.034),
    0 3.7px 5px rgba(0, 0, 0, 0.048),
    0 8px 5px rgba(0, 0, 0, 0.06),
    0 10px 8px rgba(0, 0, 0, 0.072),
    0 24px 14px rgba(0, 0, 0, 0.086),
    0 50px 40px rgba(0, 0, 0, 0.12);


    
  
    min-height: 150px;
    width: 20%;
    min-width: 200px;
    background: white;
    border-radius: 5px;   
    height: 30%;
    font-size: small;
}
#nn{
background-image: black;
}
.cc, .imag{
padding: 0px;}
.imag{
    margin: 20%;
}
#v{
    width: 10%;
    display: inline-block;
}
@media (max-width: 1265px) {
    /* we can then place rules in here */
    content{
        padding: 25px;
    }
    article{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10%;
    }
    #container,body, #mob,content{
        padding: 0;
    }
    nav,ul,li{display: block; padding: 0;}
    a{
        display: block;
        padding: 0;
        padding-bottom: 4%;
        text-align: center;
        width: 100%
    }
    .z{
        align-content: center
    }
    #s{
       display: none;
    }
    header>h1{
        text-align: center;
    }
    header{
        padding: 0;
    }
    header>h3{
        display:none
    }

  }
#s{
    width: 365px;
    height: 409px;
    margin-left: 5%;
    
}
